.floatRight{
    float: right;
    padding: 0 20px;
    font-size: 18px;
}

.socialButton{
    height: 75px;
    width: 75px;
    margin: 5px;
    float: left;
}

.portItem{
    margin: 20px 15px 20px 10px;
    float: left;
    position: relative;
}

.portImage{
    height: 200px;
    width: 300px;
    position: relative;
    z-index: 1;
}

.portText{
    background-color: dodgerblue;
    height: 40px;
    width: 300px;
    line-height: 40px;
    font-size: 14pt;
    z-index: 2;
    position: absolute;
    bottom: 10px;
}

#name{
    float: left;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 24pt;
    padding: 0 30px;
    background-color: dodgerblue;
}

#mePic{
    height: 200px;
    width: 200px;
    float: left;
    margin: 0 10px 0 10px;
}

#socialCase{
    width: 255px;
    margin: 0 auto;
}

#bodyCenter{
    width: 960px;
    min-height: calc(100vh - 170px);
    margin: 0 auto;
}

#topCenter{
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#submit{
    background-color: dodgerblue;
    color: #333;
    width: 100px;
    height: 50px;
    float: right;
    margin: 0 20px 10px 0;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

a:link{
    text-decoration: none;
    color: #333;
}

a:visited{
    text-decoration: none;
    color: #333;
}

a:hover{
    color: dodgerblue;
}

a:active{
    color: #333;
}

header{
    height: 80px;
    background-color: gray;
    position: relative;
    border-bottom: solid;
    border-color: dodgerblue;
    border-width: 5px;
}

nav{
    float: right;
    line-height: 80px;
}

html, body{
    font-family: 'century gothic', Verdana, sans-serif;
    background-image: url("../images/triangular.png");
    background-color: lightgray;
    color: #333;
}

article{
    background-color: lightgray;
    width: 650px;
    margin: 20px 20px 20px 0;
    float: left;
    position: relative;
    /* border-style: solid;
    border-color: #7c0ce8;
    border-width: 2px; */
}

aside{
    background-color: lightgray;
    width: 270px;
    float: left;
    margin: 20px 0 20px 20px;
}

footer{
    height: 80px;
    width: 100%;
    line-height: 80px;
    background-color: gray;
    text-align: center;
    border-top: solid;
    border-color: dodgerblue;
    border-width: 5px;
    clear: both;
    /* position: absolute;
    bottom: 0; */
}

h1{ 
    font-size: 16pt;
}

h2{
    font-size: 20pt;
    padding: 20px 10px 10px 30px;

}

h3{
    font-size: 12pt;
    text-align: center;
    padding: 20px;
}

h4{
    font-size: 10pt;
}

p{
    font-family: muli, sans-serif;
    padding: 0 10px 10px 10px;
    line-height: 1.6;
}

hr{
    width: 97%;
    height: 1.5px;
    border-width: 2px;
    border-style: solid;
    border-color: #E8860C;
    background-color: #333;
}


input[type=text] {
    width: 95%;
    padding: 12px 20px;
    margin: 15px 0 15px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #333;
    /* border-radius: 4px; */
}

textarea{
    width: 95%;
    padding: 12px 20px;
    margin: 15px 0 15px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #333;
    clear: both;
}

#message{
    height: 200px;
}

.centerForm{
    text-align: center;
}

label{
    margin: 0 0 0 20px;
}